$base_color : dynamic(#454545);
$base-dark-color: dynamic(#575757);
$base-light-color: dynamic(#64646E);
$base-highlight-color: dynamic(#7B7B7B);

$body-color-var: dynamic(#4C4C54);

$window-color-var: dynamic(#21212B);

$light-color: dynamic(#fff);

$neutral_light_color: dynamic(#ccc);

$body-background-color: dynamic(#666363)